<template>
  <div>
    <input v-model="msg">
    <p>prop: {{propMessage}}</p>
    <p>msg: {{msg}}</p>
    <p>helloMsg: {{helloMsg}}</p>
    <p>computed msg: {{computedMsg}}</p>
    <button @click="greet">Greet</button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  props: {
    propMessage: String
  }
})

export default class Home extends Vue {
  private msg = "hello, jm";
  private helloMsg = `${this.msg}, what are you doing?`;

  get computedMsg () {
    return "good morning!";
  }

  private greet () {
    alert("one");
  }
}

</script>

